<!DOCTYPE html>

<head>
    <meta charset="utf-8">
</head>
<style>
    h2{
        color:darkblue
    }
</style>

<html>
    <body>
        <div>
        {{#each interns}}
                <h2>{{this}}</h2>
        {{/each}}
        </div>
    </body>
</html>

<body>
</html>