<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
    <body class="container">
        <h1> Search Planets </h1>
        <form action="/form-find" id="search-form" method="POST">
            <div class="form-group">
                Name: <input type="text" id="search-name" name="name" placeholder="Name of planet" required>
            </div>
             <div class="form-group">
                Climate: <input type="text" id="search-climate" name="climate" >
            </div>
             <div class="form-group">
                Land: <input type="text" id="search-land" name="land">
            </div>
            <button id='search-btn-input' type="submit" class="btn btn-outline-dark" name="btn">Search</button>
        </form>
    </body>
</html>